
        /* Mejor ordenado */
        * { 
            margin: 0; 
            padding: 0; 
        }

        body { 
            font: 16px monocraft; 
            line-height: 24px; 
            background: url(images/portada.jpg); 
        }

        .clear { 
            clear: both; 
        }

        #page-wrap { 
            width: 800px; 
            margin: 40px auto 60px; 
            border: #666 1px solid; 
            background: #8c26ebd4; 
            box-shadow: 4px 4px 4px black; 
        }

        #pic { 
            float: right; 
            margin: -px 0 0 0;
            border-radius: 3%;
        }

        h1 { 
            margin: 0 0 16px 0; 
            padding: 0 0 16px 0; 
            font-size: 52px; 
            font-weight: bold; 
            letter-spacing: -1px; 
            border-bottom: 1px solid #44fa0c;
            margin-top: 10px;
            color: #00eeffde;
            text-shadow: 3px 3px 3px black; 

        }

        h2 { 
            font-size: 20px; 
            margin: 0 0 6px 0; 
            position: relative; 
        }

        h2 span { 
            position: absolute; 
            bottom: 0; 
            right: 0; 
            font-style: monocraft; 
            font-family: monocraft; 
            font-size: 16px; 
            color: #d12828; font-weight: normal; 
        }

        p { 
            margin: 0 0 16px 0; 
            padding: auto;
            margin-left: 10px; 
            text-align: justify;
            line-height: -20px; 
            font-weight: bold;
        }

        a { 
            color: #0d0de7; 
            text-decoration: none; 
            border-bottom: 1px dotted #999; 
        }

        a:hover { 
            border-bottom-style: solid; 
            color: rgb(0, 0, 0); 
        }

        ul { 
            margin: 0 0 32px 17px; 
        }

        #objective { 
            width: 550px; 
            float: left;
            text-align: justify; 
            margin-left: 10px;
        }

        #objective p { 
            font-family: monocraft; 
            font-style: monocraft; 
            color: #0e0115; 
            display: inline; 
            font-weight: bold;
        }

        dt { 
            font-style: italic; 
            font-weight: bold; 
            font-size: 18px; 
            text-align: left; 
            padding: 0 26px 0 0; 
            width: 150px; 
            float: left; 
            height: 100px; 
            border-right: 1px solid #999; 
        }

        dd { 
            width: 600px; 
            float: right;
            font-weight: bold; 
        }

        dd.clear { 
            float: none; 
            margin: 0; 
            height: 15px;
            font-weight: bold; 
        }
